@{
    Layout = null;
}
@model IList<QA.Models.Section>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="col-lg-12" style="border:1px red solid;text-align:center">
        <label style="">欢迎进入在线医疗服务</label>

    </div>
</body>
</html>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>