@model IList<QA.Models.Doctor>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @foreach (var item in Model)
        {
            <p style="border:3px solid red;">@item.d_name</p>
        }
        
    </div>
</body>
</html>
