
@{
    ViewBag.Title = "Index";
}
@using QA.Models;
@model List<Patient>
<style>
    .dropdown {
        font-size: 20px;
        font-weight: bold;
    }

    #begin:link {
        text-decoration: none;
    }

    #begin:visited {
        text-decoration: none;
    }

    #begin:hover {
        text-decoration: none;
    }

    #begin:active {
        text-decoration: none;
    }
    #consultsub tr,td {
        text-align:center;
    }
        #consultsub tr th {
        text-align:center;
        }
</style>
<!--导航栏-->
<div class="col-lg-12" id="bak" style="height: 770px;
        background:rgba(0,0,0,0.4) url('../../Content/img/computer-desk-laptop-stethoscope-48604.jpg') no-repeat ;
        background-size:cover;
        text-align: center">
    <nav class="navbar ">
        <div class="pull-right">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <span id="userID" style="display:none">需要用户id</span>
                    <span style="height:50px;line-height:50px" id="userName">
                        你好，需要用户名
                    </span>
                </li>
                <li class="dropdown">
                    <a id="enterPBtn" href="~/Consult/PersonCenter?id=41427315cc1149a9a4d2ce22e093de5c" data-toggle="dropdown">
                        个人中心
                    </a>
                </li>
                <li class="dropdown">
                    <a id="enterCBtn" href="" data-toggle="dropdown">
                        咨询中心
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown">
                        注销
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="col-lg-12" style="line-height:150px;text-align:center;">
        <font style="font:5vw bold;color:#428dcb; text-shadow: #ffffff 4px 0 0, #ffffff 0 4px 0, #ffffff -4px 0 0, #ffffff 0 -4px 0">欢迎进入在线医疗咨询</font>
        <p></p>
        <font style="font:3vw bold;color:#428dcb; text-shadow: #ffffff 2px 0 0, #ffffff 0 2px 0, #ffffff -2px 0 0, #ffffff 0 -2px 0">第7小组</font>
        <br />
        <a href="#two" id="begin" style="background:white;padding:10px;font:2vw bold;border-radius:22px;line-height:100px">开始咨询</a>
    </div>
</div>
<div id="two" class="col-lg-12" style="height: 750px">
    <div class="col-lg-12" style="text-align:center;font:3vw black bold">选择科室-->选择医生-->填写问题</div>

    <!--表单-->
    <div class="col-lg-12" style="text-align:center;">
        <form role="form" class="col-lg-12">
            <!--患者编号-->
            <input class="form-control" id="p_id" type="text" style="display:none">
            <table id="consultsub">
                <thead>
                    <tr>
                        <th style="width:16%">科室目录</th>
                        <th style="width:16%">咨询医生</th>
                        <th style="width:50%">咨询内容</th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!--科室目录-->
                        <td>
                            <!--需要科室名称及其id-->
                            <select class="form-control col-lg-12" id="section">
                                <option value="">默认选择</option>
                                <option value="1">儿科</option>
                                <option>妇科</option>
                                <option>男科</option>
                                <option>外科</option>
                                <option>内科</option>
                            </select>
                        </td>
                        <!--医生目录-->
                        <td>
                            <!--需要医生名称，医生个人简介及其id-->
                            <select class="form-control col-lg-12" id="doctor" disabled="disabled">
                                <option value="">默认选择</option>
                                <option>你妈怪</option>
                                <option>滚</option>
                                <option>哈巴狗师傅</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <!--医生简介-->
                        <td>
                            <button type="button" class="btn btn-warning" title="医生简介" id="content"
                                    data-container="body" data-toggle="popover" data-placement="bottom"
                                    data-content="右侧的 Popover 中的一些内容" disabled="disabled">
                                请先选择医生
                            </button>
                        </td>
                        <!--咨询内容-->
                        <td><textarea class="form-control" rows="6" id="textarea" style="resize:none"></textarea></td>
                        
                        <!--提交咨询-->
                        <td>
                            <div class="form-group">
                                <button id="subtn" type="button" class="btn btn-default btn-lg ">提交咨询</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </form>
    </div>

</div>
<script>
    $(function () {
        $("[data-toggle='popover']").popover();
    })
    $("#subtn").click(function () {
        if ($("#textarea").val().trim() == "" || $("#doctor").val().trim() == "" || $("#section").val().trim() == "") {
            alert("请完善填写信息");
        } else {
            alert("可提交");
        }
    });

    $("#section").change(function (e) {
        $("#doctor").attr('disabled', false); // 如果科室没选，医生选不了
        $.ajax({ //需要通过科室id查找相对应的医生名称，我会传入后台一列咨询元组
            type: 'POST',
            dataType: 'text',
            url: "/Consult/Index",
            data: { "section": $("#section").text() }
        });
    });

    $("#doctor").change(function () {
        if ($(this).val() == "") {
            $("#content").html("请选择医生");
            $("#content").attr('disabled', true);
        } else {
            $("#content").attr('disabled', false);
            $("#content").html("点击查看" + $(this).val());
        }
        
    })

    $("#enterCBtn").click(function () {
        window.location.href = "/Consult/ConsultCenter";
    });

    $("#enterPBtn").click(function () {
        window.location.href = "/Consult/PersonCenter";
    })
</script>




