<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>txt</title>
    <link href="~/Scripts/登录/style.css" rel="stylesheet" />
    <script src="~/Scripts/登录/jquery.min.js"></script>
    <script src="~/Scripts/登录/vector.js"></script>



</head>
<body>
    
    <div id="container">
        <div id="output">
            <div class="containerT">
                <h2 style="color:white">用户登录</h2>
                <form class="form" method="post" id="entry_form" action="/User/Login">
                    <input type="text" name="userAccount" placeholder="用户名" id="entry_name">
                    <input type="password" name="userPwd" placeholder="密码" id="entry_password">
                    <button type="submit" id="entry_btn">登录</button>
                    
                    <button type="button"><a href="/User/Register">注册</a></button>
                    <div id="prompt" class="prompt"></div>
                </form>
            </div>
        </div>
    </div>
  <span id="msg">@ViewBag.Msg</span>
    <script type="text/javascript">              
        $(function () {
            var msg = $("#msg").text();
            Victor("container", "output");   //登录背景函数
            $("#entry_name").focus();
            $(document).keydown(function(event){
                if(event.keyCode==13){
                    $("#entry_btn").click();
                }
            });
            if (msg !== "")
                alert(msg);
        });

       
    </script>   
</body>
</html>